<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ValueIntlBank.My.MySettings.vibConnectionString" connectionString="server=localhost;user id=root;password=root;database=vib"
            providerName="MySql.Data.MySqlClient" />
        <add name="ValueIntlBank.My.MySettings.vibConnectionString1"
            connectionString="server=localhost;user id=root;password=root;persistsecurityinfo=True;database=vib"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>